<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <link type="text/css" rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <% for(var i=0; i < newlistitems.length; i++) { %>
            <div class="item">
                <input type="checkbox" name="newlist">
                <p>
                    <%= newlistitems[i] %>
                </>
            </div>   
        <% } %>

        <form method="post" action="\" class="item">
        
            <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value= <%= listTitle %><p>+</p></button>
        
        </form>
    </div>
    
    <footer>
        <P>made by Ankush Hegde</P>
    </footer>

  
</body>
</html>